**
!image/
!image/**
!share/
!share/**
!scripts/
!scripts/container-*
!scripts/thin-*
!scripts/install-assets.py
!bin/
!bin/ws
!lib/
!lib/*.py
!profiles/
!profiles/ruth.json
!profiles/jean.json
!profiles/blueback.json
